*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
.bold{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}
.upper-case{
    text-transform: uppercase;
}
main{
    font-family: 'Lexend Deca', sans-serif;
    background-color: #F2F2F2;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.attribution{
    margin-top: 20px;
}
.flex-container{
    height: 60%;
    width: 50%;
    display: flex;
}
.card{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 40px;
    color: white;
    overflow: hidden;
    position: relative;
}
.card h2{
    font-size: 2.6rem;
}
.card p{
    opacity: .7;
    letter-spacing: .5px;
    line-height: 1.6rem;
    font-size: .9rem;
    max-height: 200px;
    overflow: hidden;
}
.card span{
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 30px;
    color: #E28525;
    position: absolute;
    bottom: 40px;
    cursor: pointer;
}
.card span:hover{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition:all 100ms linear;    
}
.card-1{
    background-color: #E28525;
    border-radius: 10px 0px 0px 10px;
}
.card-2{
    background-color: #016972;
}
.card-2 span{
    color: #016972;
}
.card-3{
    background-color: #00403F;
    border-radius: 0px 10px 10px 0px;
}
.card-3 span{
    color: #00403F;
}
@media (max-width: 768px) and (orientation: portrait) {
    main{
        height: 180vh;
    }
   .flex-container{
    margin-top: 30px;
    flex-direction: column;
    height: 98%;
    width: 96%;
    border-radius: 10px;
    gap: 0px;
    align-items: center;
   }
   .card{
    width: 360px;
    height: 500px;
   }
   .card-1{
    border-radius: 10px 10px 0px 0px;
   }
   .card-3{
    border-radius: 0px 0px 10px 10px;
   }

}




















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
